.container-fluid {
    padding-top: 100px;
}

.container {
    background: #333333;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

input {
    background-color: #333333;
    color: white;
}

input:focus {
    background-color: #333333;
    color: white;
}