body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 180px;
    height: 50px;
    border-radius: 60px;
}

#imgMesa {
    width: 25px;
}

#imgPlatos {
    width: 600px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar p {
    margin-bottom: 0;
    padding: 5px;
}