<div class="container mt-5 justify-content-center">
    <button class="btn btn-warning" (click)="volverAtras()">
        &#171;&nbsp;Volver al Home
    </button><br><br>
    <h4>Listado de Restaurantes</h4><br>
    <div class="row">
        <div class="col-sm-4" *ngFor="let restaurante of restaurantes">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="restaurante.imgUrl">
                <div class="card-body">
                    <h5 class="card-title">{{ restaurante.nombre }}</h5>
                    <h6 class="card-subtitle">{{ restaurante.tlf }}</h6><br>
                    <p class="card-text">{{ restaurante.descripcion }}</p>
                    <a [routerLink]="" class="card-link text-danger">Reservar</a>
                    <a [href]="restaurante.paginaWeb" class="card-link">Ver web</a>
                    <a [href]="restaurante.localizacion" class="card-link">Ubicación</a>
                </div>
            </div><br><br>
        </div>
    </div>
</div>
